.container {
    width: 100%;
    padding: 50px 0;
    background: var(--color-light-blue);
}

.div {
    width: 100%;
}

.text {
    width: 45%;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}