.container{
    margin-top:80px;
}

.blog{
    width:30%;
    margin-bottom: 40px;
    border:1px solid #d6d6d6;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .5s;
}

.blog:hover{
    background: #fafafa;
    margin-top: -10px;
}

.blog h3{
    font-weight: 100;
    color:rgba(0, 0, 0, 0.4);
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
}

.blog a{
    text-decoration: underline;
    color:#003C6A;
    line-height: 25px;

}