.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.blog1 {
    width: 100%;
    height: 500px;
    background: url('../img/tim3.png');
    background-size: cover;
    background-position: center;
}

.rgba {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 200px;
    box-sizing: border-box;
}

.blog2,
.blog3 {
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.blog2 {
    background: url('../img/tim2.png');
}

.blog3 {
    background: url('../img/tim1.png');
}